/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/* places p5 canvas in the top left corner */
canvas { 
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

h1, h2 {
 text-align: center;
  margin: 0;
}
h1 {
  font-size: 100px; 
}

h2 {
  font-size: 70px;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}